/*@author: Ashutosh
Id's used :

share.fxml, startSharing.fxml
    #share_StackPane: StackPane
    #share_AnchorPane: AnchorPane

share.fxml
    #share_btnGroup: GridPane: Button
    #share_GridPane: GridPane

startSharing.fxml
    #share_btnShare: Button: StartSharing
    #share_btnBack: Button: backIcon
    #share_ListView: ListView
    #share_StatusBar: StatusBar
    #share_btnCancel: Button: Status Bar "x"
    #share_btnShareIcon: Icon on Button: btn_StartShare
    #share_btnBackIcon: Icon on Button: btn_back
*/


#share_StackPane, #share_AnchorPane{
    -fx-background-color: LightGray;
}

#share_btnGroup, #share_btnShare, #share_btnGroup:hover, #share_btnShare:hover, #share_btnBack, #share_StatusBar{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#share_GridPane, #share_ListView{
    -fx-background-color: #41464b;
    -fx-padding: 10px;
}

#share_StatusBar{
    -fx-accent: #88CC88;
    -fx-background-color: white;
}

/*Disable vertical scrollbars in a list view*/
.list-view .scroll-bar:vertical {
    -fx-background-color: #41464b;
    -fx-opacity: 0.5;
}

#share_btnBack, #share_btnShare{
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-font-weight: bold;

}

#share_btnShareIcon:hover, #share_btnBackIcon:hover{
    -glyph-size: 35px;
    -fx-fill: #1e1a1a;
}

#share_btnShareIcon, #share_btnBackIcon{
    -glyph-size: 28px;
    -fx-fill: #1b2737;
}

#share_btnBack, #share_btnShare{
    -fx-background-color: transparent;
}

#share_btnCancel{
    -fx-text-fill: #d01f38;
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.list-cell{
    -fx-background-insets: 30px 30px;
}

.all_btnBlueBackground{
    -fx-background-color:white;
    -fx-border-color:#1b2737;
    -fx-text-fill:#1b2737;
}

.all_btnBlueBackground:hover{
    -fx-background-color:white;
    -fx-border-color:#1b2737;
    -fx-text-fill:white;
}

.all_btnWhiteBackground{
    -fx-background-color:white;
    -fx-text-fill:#41464b;
}

.all_btnWhiteBackground:hover,.all_btnWhiteBackground:focus{
    -fx-background-color:white;
    -fx-text-fill:#41464b;
}

